###> PhpStorm internals ###
/.idea
###< PhpStorm internals ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> symfony/framework-bundle ###
*.phar
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> excluded during app flow ###
/package-lock.json
/*.lock
/documents
/public/uploads
###< excluded during app flow ###

###> test JSON's ###
test.*.json
###< test JSON's ###

###> downloaded examples ###
*.pdf
*.zip
*.gz
###< downloaded examples ###