{% extends 'base.html.twig' %}

{% block title %}PWA Problem Resolver{% endblock %}

{% block css_assets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags('app') }}
{% endblock %}